@font-face {
    font-family: 'SanFranciscoPro';
    src: url('../../assets/fonts/SFPRODISPLAYREGULAR.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}

:root {
    font-size: 62.5%;

    --bg-path: url("../../assets/images/bg-mobile.jpg");
    --text-color: #FFFFFF;
    --border-color: #c6c6c6;
    --text-font: 'Inter', sans-serif;
    --link-font: 'SanFranciscoPro', sans-serif;
}

/* Globals */
body {
    min-height: 100vh;

    display: grid;
    grid-template-areas: 
        'Header'
        'Main'
        'Footer';

    grid-template-rows: 100px auto 100px;

    font-family: var(--text-font);
    color: var(--text-color);

    background-image: var(--bg-path);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

header {
    width: 100%;

    grid-area: Header;
    padding: 2rem 4rem;

    position: fixed;
    z-index: 99;
}

header nav {
    border: 1px solid var(--border-color);
    border-radius: 50px;
    padding: 2rem 4rem;

    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
}

section {
    min-height: 200px;
    padding: 2rem 4rem;
}

section h2 {
    font-size: 3.2rem;
}

section p {
    font-size: 1.8rem;
}

/* Navbar */
.nav-list {
    display: flex;
    justify-content: space-between;
}

.nav-item {
    list-style: none;
}

.nav-link {
    font-family: var(--link-font);
    color: var(--text-color);
    text-decoration: none;
    font-size: 1.6rem;
}

/* Main */
main {
    grid-area: Main;
}

/* Home section */
section#home {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.2rem;
}

#home h1 {
    font-size: 3.2rem;
}

#home p {
    font-size: 1.6rem;
}

#home h1 + p {
    font-size: 1.8rem;
}

.link-button {
    margin-top: 2rem;
    padding: 1.5rem 4rem;
    border-radius: 50px;
    border: 1px solid var(--border-color);

    font-size: 1.4rem;
    text-decoration: none;
    color: var(--text-color);
    background-color: rgba(255, 255, 255, 0.1);
}

/* About section */
section#about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#about div {
    margin-top: 2rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

div .profile-img {
    width: 100%;
    max-height: 30rem;
    object-fit: cover;

    border-radius: 12px;
}

#about div p {
    font-size: 1.4rem;
    line-height: 2rem;
    text-align: justify;
    font-weight: normal;
}

.socials {
    display: flex;
    gap: 1rem;

    margin-top: 2rem;
}

.socials li {
    list-style: none;
}

.socials li a {
    color: var(--text-color);
    font-size: 3.2rem;
    text-decoration: none;
}

/* Projects section */
section#projects {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#projects div {
    margin-top: 1.5rem;
}

.project-card {
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);

    padding: 2rem 4rem;
    border-radius: 1.2rem;
    border: 1px solid var(--border-color);

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.project-card .project-name {
    font-size: 2rem;
    font-weight: bold;
}

.project-actions {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.project-actions a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    border-radius: 1.2rem;

    text-decoration: none;
    font-size: 1.6rem;
    padding: 2rem;
    color: var(--text-color);
}

.world-wide-link {
    background-color: #8c068c;
}

.github-link {
    background-color: #111;
}

/* My Stack */
section#skills {
    display: flex;
    flex-direction: column;
    align-items: center;    
}

#skills table {
    margin-top: 2rem;
}

#skills table tr td {
    font-size: 4.8rem;
}

/* Contact Section */
section#contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-form {
    margin-top: 2rem;
    padding: 4rem;
    width: 100%;
    
    border-radius: 1.2rem;
    border: 1px solid var(--border-color);
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.1);
}

.input-group input,
.input-group textarea {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 0.8rem;
    border: 1px solid var(--border-color);
    color: var(--text-color);
    font-size: 2rem;

    width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
}

.input-group textarea {
    min-height: 10rem;
}

.contact-form button {
    background-color: #8c068c;
    color: var(--text-color);
    padding: 1rem 4rem;
    border: none;
    border-radius: 1rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}

/* Footer */
footer {
    grid-area: Footer;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

footer p {
    font-size: 1.4rem;
}

@media screen and (width > 800px) {
    :root {
        --bg-path: url("../../assets/images/bg-desktop.jpg");
    }

    header {
        position: initial;
    }

    header nav {
        width: 50rem;
        margin: 0 auto;
    }
    
    .nav-list {
        justify-content: center;
        gap: 2.5rem;
    }

    section#about {
        
    }

    section#home h1 {
        font-size: 6.4rem;
    }

    section#home p {
        font-size: 2.4rem;
    }

    #about div .profile-img {
        width: 50%;
        min-height: 40rem;
    }

    #about div p {
        font-size: 2.8rem;
        line-height: 3.2rem;
        width: 50%;
    }

    #projects > div {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .project-card {
        width: 30%;
    }

    .contact-form {
        width: 50%;
    }
}
