* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-color: #000000;
    --text-color: #fff;
    --text-font: "inter", sans-serif;
    font-size: 62.5%;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: var(--text-font);
}

h1 {
    font-size: 3.2rem;
}

p {
    font-size: 1.6rem;
}

main {
    width: 67.2rem;
    padding: 48px 24px;
    margin: 0px auto;
}

.profile-section {
    display: flex;
    gap: 2rem;
}

.profile-img img {
    width: 10rem;
    height: 10rem;
    
    border: solid 1px #ccc;
    border-radius: 1.2rem;
    object-fit: cover;
}

.profile-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}